# Database
POSTGRES_USER=spildenah
POSTGRES_PASSWORD=spildenah_secret_2024
POSTGRES_DB=spildenah_db
DATABASE_URL=postgresql+asyncpg://spildenah:spildenah_secret_2024@db:5432/spildenah_db
DATABASE_PASSWORD=021104

# JWT
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
FRONTEND_URL=http://localhost:3000

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# SMTP / Email (Placeholder for Forgot Password)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=secret
SMTP_FROM_EMAIL=noreply@spildenah.com
